doctype html
html
	head
		title= 'Conway\'s Game of Life in NodeJS'
		script(src='client.js')
		script(src='socket.io/socket.io.js')
	body(style='margin:0px;')
		canvas(style='position: absolute; top:0px; left:0px; right:0px; bottom:0px;')#canvas